.search {
    display: flex;
}

.search__data {
    width: 150px;
}

.search__send {
    margin-left: 5%;
}

.search__label {
}

.result {
    margin-top: 20px;
    color: red;
    font-size: 24px;
}
